/* ==UserStyle==
@name           Lichess Remembers ChessCube
@namespace      github.com/ornicar/userstyles
@homepageURL    https://raw.githubusercontent.com/ornicar/userstyles/master/lichess.remember-chesscube.user.css
@version        1.0.0
@description    On lichess.org, pay tribute to chesscube by showing their logo. Looks better with dark theme.
@author         github.com/ornicar
==/UserStyle== */

@-moz-document domain("lichess.org") {
  h1.site-title a {
    background-image: url('https://i.imgur.com/0BMGOmg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 1.1em;
  }
  h1.site-title a,
  h1.site-title a:hover,
  h1.site-title a span {
    color: transparent !important;
    text-shadow: none;
  }
}
