/* 
- show bigger emojisn
- show bigger image previews

This is for the zulip desktop app. 
File > Desktop Settings > General > Advanced > Add custom CSS
*/

/* within text, or multiple emojis: a bit bigger (than 20px) */
.rendered_markdown .emoji {
  height: 24px;
  width: 24px;
}

/* bigger image previews */
.rendered_markdown .message_inline_image,
.rendered_markdown .twitter-image {
  height: 300px !important;
}
